# OS
.DS_Store

# Python bytecode/cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.mypy_cache/
.pytest_cache/

# Virtual envs
.venv/
venv/

# Environment files (do not commit secrets)
.env
.env.*

# Firebase service account JSON (secrets)
charge-trails-firebase-adminsdk-6nyv7-e59776e69b.json
*firebase-adminsdk*.json

# Node/React
frontend/node_modules/
frontend/build/
frontend/dist/

# Editors/IDE
.vscode/
.idea/

# extra
.gitignore

